extends layout

block content
  .container
    h1.page_header= title

    .row
      .col-md-10
        h1 Map
        #map
          each square in map
            - dim = 30
            img.square(style={top: "#{square.y * dim}px", left: "#{square.x * dim}px", width: "#{dim}px", height: "#{dim}px"}, src="/images/#{square.image}.jpg")

      #players.col-md-2
        h1 Players
        ul
          each val in players
            li= val
